*.nav
*.snm
*.idx
*.log
*.bbl
*.blg
*.log
*.cut
*.lot
*.out
*.toc
*.fdb_latexmk
*.fls
*.aux
*.swp

*-converted-to.pdf
*-converted-to.png

vortrag_en.pdf
vortrag_de.pdf

images/beschleuniger-uebersicht-overlay-*.pdf
