*.nav
*.snm
*.idx
*.log
*.bbl
*.bcf
*.run.xml
*.blg
*.log
*.cut
*.lot
*.out
*.toc
*.fdb_latexmk
*.fls
*.aux
*.swp

*-converted-to.pdf
*-converted-to.png

output

vortrag_en.pdf
vortrag_de.pdf

images/beschleuniger-uebersicht-overlay-*.pdf
images/Standard_Model_of_Elementary_Particles-de.pdf
images/Standard_Model_of_Elementary_Particles-en.pdf
